.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.959961;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.722656;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(158,201,235),0 0.015em rgb(158,201,235),0.015em 0 rgb(158,201,235),0 -0.015em  rgb(158,201,235);}
.sc2{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(158,201,235);text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{width:1.231878px;}
._b{width:2.682000px;}
._9{width:4.224000px;}
._d{width:6.426000px;}
._2{width:13.194000px;}
._c{width:16.938000px;}
._a{width:20.682000px;}
._7{width:27.450000px;}
._1{width:31.194000px;}
._8{width:34.578000px;}
._6{width:38.322000px;}
._3{width:42.066000px;}
._0{width:49.194000px;}
._5{width:52.758000px;}
.fc4{color:rgb(94,165,221);}
.fc0{color:rgb(254,254,254);}
.fc1{color:rgb(255,255,255);}
.fc2{color:rgb(158,205,51);}
.fc3{color:rgb(158,201,235);}
.fsd{font-size:40.000000px;}
.fsc{font-size:42.000000px;}
.fsb{font-size:48.000000px;}
.fsa{font-size:50.000000px;}
.fs9{font-size:56.000000px;}
.fs8{font-size:58.000000px;}
.fs7{font-size:60.000000px;}
.fs6{font-size:62.000000px;}
.fs4{font-size:64.000000px;}
.fs3{font-size:66.000000px;}
.fs1{font-size:72.000000px;}
.fs5{font-size:74.000000px;}
.fs11{font-size:80.000000px;}
.fs10{font-size:82.000000px;}
.fsf{font-size:96.000000px;}
.fse{font-size:98.000000px;}
.fs13{font-size:112.000000px;}
.fs12{font-size:114.000000px;}
.fs2{font-size:160.000000px;}
.fs0{font-size:216.000000px;}
.y0{bottom:0.000000px;}
.y61{bottom:14.082886px;}
.y5b{bottom:16.526611px;}
.y2f{bottom:20.950897px;}
.y10{bottom:29.585342px;}
.y38{bottom:31.724319px;}
.y2e{bottom:32.470917px;}
.y2d{bottom:43.990875px;}
.y46{bottom:50.389267px;}
.y5a{bottom:51.326599px;}
.yf{bottom:58.625320px;}
.y60{bottom:60.402893px;}
.y2c{bottom:64.745758px;}
.y45{bottom:69.589279px;}
.y18{bottom:71.558044px;}
.y37{bottom:72.284317px;}
.y19{bottom:73.898849px;}
.y59{bottom:75.326599px;}
.ye{bottom:87.665344px;}
.y58{bottom:99.326599px;}
.y44{bottom:99.589279px;}
.y3{bottom:102.977724px;}
.y4f{bottom:104.212402px;}
.y5f{bottom:106.722900px;}
.y2b{bottom:109.990860px;}
.y36{bottom:112.844330px;}
.yd{bottom:116.705338px;}
.y43{bottom:118.789276px;}
.y2a{bottom:121.510864px;}
.y57{bottom:134.126587px;}
.y42{bottom:137.989288px;}
.y4e{bottom:139.012390px;}
.y35{bottom:141.644333px;}
.y29{bottom:142.265747px;}
.yc{bottom:145.745346px;}
.y5e{bottom:153.042908px;}
.y41{bottom:157.189301px;}
.y56{bottom:158.126587px;}
.y28{bottom:164.355988px;}
.y4d{bottom:173.812408px;}
.yb{bottom:174.785355px;}
.y34{bottom:182.204330px;}
.y27{bottom:182.355988px;}
.y40{bottom:187.189316px;}
.y55{bottom:192.926582px;}
.y4c{bottom:197.812408px;}
.y26{bottom:200.355988px;}
.ya{bottom:203.825363px;}
.y3f{bottom:206.389328px;}
.y2{bottom:207.322861px;}
.y25{bottom:218.355988px;}
.y33{bottom:222.764313px;}
.y54{bottom:227.726585px;}
.y1a{bottom:231.078857px;}
.y4b{bottom:232.612411px;}
.y9{bottom:232.865372px;}
.y1b{bottom:233.419662px;}
.y3e{bottom:236.389328px;}
.y24{bottom:236.710869px;}
.y16{bottom:245.920044px;}
.y23{bottom:248.230865px;}
.y53{bottom:251.726585px;}
.y3d{bottom:255.589325px;}
.y4a{bottom:256.612411px;}
.y22{bottom:259.750862px;}
.y8{bottom:261.905365px;}
.y15{bottom:263.200043px;}
.y32{bottom:263.324310px;}
.y1{bottom:272.122864px;}
.y3c{bottom:274.789322px;}
.y14{bottom:280.480042px;}
.y21{bottom:280.505745px;}
.y49{bottom:280.612411px;}
.y52{bottom:286.526588px;}
.y7{bottom:290.945358px;}
.y5d{bottom:292.002914px;}
.y31{bottom:292.124313px;}
.y3b{bottom:293.989319px;}
.y13{bottom:297.760040px;}
.y20{bottom:302.950863px;}
.y48{bottom:304.612411px;}
.y51{bottom:310.526592px;}
.y3a{bottom:313.189320px;}
.y12{bottom:315.040035px;}
.y6{bottom:319.985363px;}
.y1f{bottom:323.705750px;}
.y30{bottom:332.684319px;}
.y5c{bottom:338.322914px;}
.y47{bottom:339.412415px;}
.y11{bottom:342.559280px;}
.y39{bottom:343.189322px;}
.y17{bottom:344.758705px;}
.y50{bottom:345.326591px;}
.y1e{bottom:346.683194px;}
.y5{bottom:349.025366px;}
.y1d{bottom:440.693432px;}
.y4{bottom:440.693436px;}
.y1c{bottom:488.693428px;}
.h9{height:30.351562px;}
.h8{height:36.093750px;}
.h7{height:36.132812px;}
.h6{height:42.109375px;}
.h5{height:45.117188px;}
.h4{height:48.125000px;}
.h2{height:54.140625px;}
.hb{height:60.156250px;}
.ha{height:72.187500px;}
.hc{height:84.218750px;}
.h3{height:120.000000px;}
.h1{height:162.000000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x4{left:7.200012px;}
.x7{left:30.238281px;}
.x12{left:38.445282px;}
.x5{left:43.200012px;}
.x17{left:62.835297px;}
.x6{left:65.700012px;}
.x1{left:70.979614px;}
.x13{left:74.445282px;}
.x18{left:98.835297px;}
.x2{left:107.665527px;}
.x14{left:110.445282px;}
.x19{left:121.335297px;}
.x15{left:128.445282px;}
.x1a{left:130.165527px;}
.x3{left:143.665527px;}
.x16{left:146.445282px;}
.x9{left:405.022293px;}
.x8{left:407.363099px;}
.xb{left:523.210983px;}
.xa{left:525.551790px;}
.xd{left:657.022324px;}
.xc{left:659.363130px;}
.xf{left:741.248764px;}
.xe{left:743.589570px;}
.x11{left:823.437363px;}
.x10{left:825.778169px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{width:1.642504pt;}
._b{width:3.576000pt;}
._9{width:5.632000pt;}
._d{width:8.568000pt;}
._2{width:17.592000pt;}
._c{width:22.584000pt;}
._a{width:27.576000pt;}
._7{width:36.600000pt;}
._1{width:41.592000pt;}
._8{width:46.104000pt;}
._6{width:51.096000pt;}
._3{width:56.088000pt;}
._0{width:65.592000pt;}
._5{width:70.344000pt;}
.fsd{font-size:53.333333pt;}
.fsc{font-size:56.000000pt;}
.fsb{font-size:64.000000pt;}
.fsa{font-size:66.666667pt;}
.fs9{font-size:74.666667pt;}
.fs8{font-size:77.333333pt;}
.fs7{font-size:80.000000pt;}
.fs6{font-size:82.666667pt;}
.fs4{font-size:85.333333pt;}
.fs3{font-size:88.000000pt;}
.fs1{font-size:96.000000pt;}
.fs5{font-size:98.666667pt;}
.fs11{font-size:106.666667pt;}
.fs10{font-size:109.333333pt;}
.fsf{font-size:128.000000pt;}
.fse{font-size:130.666667pt;}
.fs13{font-size:149.333333pt;}
.fs12{font-size:152.000000pt;}
.fs2{font-size:213.333333pt;}
.fs0{font-size:288.000000pt;}
.y0{bottom:0.000000pt;}
.y61{bottom:18.777181pt;}
.y5b{bottom:22.035482pt;}
.y2f{bottom:27.934530pt;}
.y10{bottom:39.447123pt;}
.y38{bottom:42.299093pt;}
.y2e{bottom:43.294556pt;}
.y2d{bottom:58.654500pt;}
.y46{bottom:67.185689pt;}
.y5a{bottom:68.435465pt;}
.yf{bottom:78.167094pt;}
.y60{bottom:80.537191pt;}
.y2c{bottom:86.327677pt;}
.y45{bottom:92.785706pt;}
.y18{bottom:95.410726pt;}
.y37{bottom:96.379089pt;}
.y19{bottom:98.531799pt;}
.y59{bottom:100.435465pt;}
.ye{bottom:116.887126pt;}
.y58{bottom:132.435465pt;}
.y44{bottom:132.785706pt;}
.y3{bottom:137.303632pt;}
.y4f{bottom:138.949870pt;}
.y5f{bottom:142.297201pt;}
.y2b{bottom:146.654480pt;}
.y36{bottom:150.459106pt;}
.yd{bottom:155.607117pt;}
.y43{bottom:158.385701pt;}
.y2a{bottom:162.014486pt;}
.y57{bottom:178.835449pt;}
.y42{bottom:183.985718pt;}
.y4e{bottom:185.349854pt;}
.y35{bottom:188.859111pt;}
.y29{bottom:189.687663pt;}
.yc{bottom:194.327128pt;}
.y5e{bottom:204.057210pt;}
.y41{bottom:209.585734pt;}
.y56{bottom:210.835449pt;}
.y28{bottom:219.141317pt;}
.y4d{bottom:231.749878pt;}
.yb{bottom:233.047139pt;}
.y34{bottom:242.939107pt;}
.y27{bottom:243.141317pt;}
.y40{bottom:249.585754pt;}
.y55{bottom:257.235443pt;}
.y4c{bottom:263.749878pt;}
.y26{bottom:267.141317pt;}
.ya{bottom:271.767151pt;}
.y3f{bottom:275.185771pt;}
.y2{bottom:276.430481pt;}
.y25{bottom:291.141317pt;}
.y33{bottom:297.019084pt;}
.y54{bottom:303.635447pt;}
.y1a{bottom:308.105143pt;}
.y4b{bottom:310.149882pt;}
.y9{bottom:310.487162pt;}
.y1b{bottom:311.226217pt;}
.y3e{bottom:315.185771pt;}
.y24{bottom:315.614492pt;}
.y16{bottom:327.893392pt;}
.y23{bottom:330.974487pt;}
.y53{bottom:335.635447pt;}
.y3d{bottom:340.785767pt;}
.y4a{bottom:342.149882pt;}
.y22{bottom:346.334483pt;}
.y8{bottom:349.207153pt;}
.y15{bottom:350.933390pt;}
.y32{bottom:351.099080pt;}
.y1{bottom:362.830485pt;}
.y3c{bottom:366.385763pt;}
.y14{bottom:373.973389pt;}
.y21{bottom:374.007660pt;}
.y49{bottom:374.149882pt;}
.y52{bottom:382.035451pt;}
.y7{bottom:387.927144pt;}
.y5d{bottom:389.337219pt;}
.y31{bottom:389.499084pt;}
.y3b{bottom:391.985758pt;}
.y13{bottom:397.013387pt;}
.y20{bottom:403.934484pt;}
.y48{bottom:406.149882pt;}
.y51{bottom:414.035456pt;}
.y3a{bottom:417.585759pt;}
.y12{bottom:420.053380pt;}
.y6{bottom:426.647151pt;}
.y1f{bottom:431.607666pt;}
.y30{bottom:443.579091pt;}
.y5c{bottom:451.097219pt;}
.y47{bottom:452.549886pt;}
.y11{bottom:456.745707pt;}
.y39{bottom:457.585762pt;}
.y17{bottom:459.678274pt;}
.y50{bottom:460.435455pt;}
.y1e{bottom:462.244259pt;}
.y5{bottom:465.367154pt;}
.y1d{bottom:587.591242pt;}
.y4{bottom:587.591248pt;}
.y1c{bottom:651.591237pt;}
.h9{height:40.468750pt;}
.h8{height:48.125000pt;}
.h7{height:48.177083pt;}
.h6{height:56.145833pt;}
.h5{height:60.156250pt;}
.h4{height:64.166667pt;}
.h2{height:72.187500pt;}
.hb{height:80.208333pt;}
.ha{height:96.250000pt;}
.hc{height:112.291667pt;}
.h3{height:160.000000pt;}
.h1{height:216.000000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x4{left:9.600016pt;}
.x7{left:40.317708pt;}
.x12{left:51.260376pt;}
.x5{left:57.600016pt;}
.x17{left:83.780396pt;}
.x6{left:87.600016pt;}
.x1{left:94.639486pt;}
.x13{left:99.260376pt;}
.x18{left:131.780396pt;}
.x2{left:143.554036pt;}
.x14{left:147.260376pt;}
.x19{left:161.780396pt;}
.x15{left:171.260376pt;}
.x1a{left:173.554036pt;}
.x3{left:191.554036pt;}
.x16{left:195.260376pt;}
.x9{left:540.029724pt;}
.x8{left:543.150799pt;}
.xb{left:697.614644pt;}
.xa{left:700.735719pt;}
.xd{left:876.029765pt;}
.xc{left:879.150840pt;}
.xf{left:988.331685pt;}
.xe{left:991.452760pt;}
.x11{left:1097.916484pt;}
.x10{left:1101.037559pt;}
}
